/* Colors definition*/

.black {
  color: black;
}

.gray {
  color: gray;
}

.grey {
  color: gray;
}

.silver {
  color: silver;
}

.white {
  color: white;
}

.maroon {
  color: maroon;
}

.red {
  color: red;
}

.magenta {
  color: magenta;
}

.fuchsia {
  color: fuchsia;
}

.pink {
  color: pink;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.lime {
  color: lime;
}

.green {
  color: green;
}

.olive {
  color: olive;
}

.teal {
  color: teal;
}

.cyan {
  color: cyan;
}

.aqua {
  color: aqua;
}

.blue {
  color: blue;
}

.navy {
  color: navy;
}

.purple {
  color: purple;
}

/* The table width fix to avoid scrollbar */
.wy-table-responsive table td {
  white-space: normal;
}

/* HIGHLIGHT COMMANDS IN OUTPUTS */

.highlight-command pre :nth-child(3) {
  color: black;
  font-weight: 600;
}

.highlight-command-9 pre :nth-child(9) {
  color: black;
  font-weight: 600;
}

.highlight-command-12 pre :nth-child(12) {
  color: black;
  font-weight: 600;
}

.highlight-command-13 pre :nth-child(13) {
  color: black;
  font-weight: 600;
}

.highlight-command-15 pre :nth-child(15) {
  color: black;
  font-weight: 600;
}

.highlight-command-16 pre :nth-child(16) {
  color: black;
  font-weight: 600;
}

.highlight-command-29 pre :nth-child(29) {
  color: black;
  font-weight: 600;
}

.highlight-command-42 pre :nth-child(42) {
  color: black;
  font-weight: 600;
}

.highlight-command-80 pre :nth-child(80) {
  color: black;
  font-weight: 600;
}

/* HIGHLIGHT EMPHASIZE LINE IN OUTPUTS */

.emphasize-hll-16 pre :nth-child(16) {
  background-color: #ccfe99;
}

.emphasize-hll-25 pre :nth-child(25) {
  background-color: #fecccc;
}

.emphasize-hll-34 pre :nth-child(34) {
  background-color: #94c5f9;
}

.emphasize-hll-37 pre :nth-child(37) {
  background-color: #ccfe99;
}

.emphasize-hll-44 pre :nth-child(44) {
  background-color: #94c5f9;
}

.emphasize-hll-45 pre :nth-child(45) {
  background-color: #ccfe99;
}

.emphasize-hll-52 pre :nth-child(52) {
  background-color: #ccfe99;
}

.emphasize-hll-53 pre :nth-child(53) {
  background-color: #94c5f9;
}

.emphasize-hll-104 pre :nth-child(104) {
  background-color: #fecccc;
}

.emphasize-hll-111 pre :nth-child(111) {
  background-color: #94c5f9;
}

.emphasize-hll-112 pre :nth-child(112) {
  background-color: #fecccc;
}

.emphasize-hll-119 pre :nth-child(119) {
  background-color: #fecccc;
}

.emphasize-hll-120 pre :nth-child(120) {
  background-color: #94c5f9;
}
